body {background-color:#D7E9B9;}
hr {border-color: grey;
  border-width: 5px;
border-style: none ;
border-top-style: dotted;
width: 5%}
img{
  height: 150px;
}
h1{
  color: #0A2647;
}
h3{
  color: #0A2647;
}
